<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413706928989-njhv938lnj0agbrb8c698mci3q3snttm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413706928989-njhv938lnj0agbrb8c698mci3q3snttm</string>
	<key>API_KEY</key>
	<string>AIzaSyCbNihm9ShqxjBKRjlr6nYPPNwpacGa_04</string>
	<key>GCM_SENDER_ID</key>
	<string>413706928989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.holondevs.hitechteste</string>
	<key>PROJECT_ID</key>
	<string>hitech-a1c53</string>
	<key>STORAGE_BUCKET</key>
	<string>hitech-a1c53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413706928989:ios:e010acfee0920318139eb4</string>
	<key>DATABASE_URL</key>
	<string>https://hitech-a1c53.firebaseio.com</string>
</dict>
</plist>